.mobile.mobile-wrapper {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mobile .div {
  background-color: #000000;
  width: 360px;
  height: 6231px;
  position: relative;
}

.mobile .overlap {
  position: absolute;
  width: 360px;
  height: 763px;
  top: 5468px;
  left: 0;
}

.mobile .footer {
  position: absolute;
  width: 360px;
  height: 353px;
  top: 410px;
  left: 0;
}

.mobile .footer-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 360px;
  height: 353px;
  position: relative;
}

.mobile .footer-main {
  background-color: #000000;
  width: 360px;
  height: 353px;
  position: relative;
}

.mobile .all-rights {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 297px;
  left: 41px;
}

.mobile .bits-group-evolu-o {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14.4px;
  white-space: nowrap;
}

.mobile .text-wrapper {
  color: #a9a9a9;
}

.mobile .span {
  color: #fbfbfbcc;
}

.mobile .text-wrapper-2 {
  position: absolute;
  height: 14px;
  top: 17px;
  left: 60px;
  font-family: "Armata", Helvetica;
  font-weight: 400;
  color: #a9a9a9;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 13.2px;
  white-space: nowrap;
}

.mobile .menu-footer {
  display: flex;
  max-width: 1920px;
  width: 312px;
  height: 190px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90px;
  left: 24px;
}

.mobile .solues {
  display: flex;
  flex-direction: column;
  width: 312px;
  align-items: flex-start;
  padding: 0px 18px 108px 0px;
  position: relative;
  align-self: stretch;
}

.mobile .nav {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  width: 312px;
  align-items: flex-start;
  justify-content: center;
  padding: 7px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -102px;
  margin-right: -18px;
}

.mobile .menubar {
  display: flex;
  flex-direction: column;
  height: 85px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.mobile .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.45px;
  line-height: normal;
}

.mobile .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffffd9;
  font-size: 13px;
  letter-spacing: 0.39px;
  line-height: normal;
  white-space: nowrap;
}

.mobile .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 13px;
  letter-spacing: 0.45px;
  line-height: normal;
}

.mobile .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffffd9;
  font-size: 13px;
  letter-spacing: 0.39px;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.mobile .bits-evoluo-digital {
  position: absolute;
  width: 213px;
  height: 63px;
  top: 10px;
  left: 24px;
}

.mobile .overlap-group {
  position: relative;
  height: 63px;
  top: -1px;
}

.mobile .text-wrapper-7 {
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;
  font-family: "Gotham Black-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .text-wrapper-8 {
  position: absolute;
  height: 28px;
  top: 35px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #3ceaff;
  font-size: 27.3px;
  letter-spacing: 0;
  line-height: 27.2px;
  white-space: nowrap;
}

.mobile .expertise {
  position: absolute;
  width: 360px;
  height: 415px;
  top: 0;
  left: 0;
}

.mobile .overlap-2 {
  position: relative;
  height: 413px;
  background-image: url(./img/gif-4.gif);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 240px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 10px 33.98px 10px 34px;
  position: absolute;
  top: 316px;
  left: 60px;
  background-color: #00d2eb;
  border-radius: 50px;
}

.mobile .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .p {
  display: flex;
  flex-direction: column;
  width: 312px;
  height: 48px;
  align-items: flex-start;
  padding: 0px 28.58px 0px 0px;
  position: absolute;
  top: 235px;
  left: 24px;
}

.mobile .empresas {
  position: relative;
  width: 312px;
  margin-top: -1px;
  margin-right: -28.58px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.mobile .header {
  display: flex;
  flex-direction: column;
  width: 312px;
  align-items: flex-start;
  padding: 0px 78.87px 0.43px 0px;
  position: absolute;
  top: 59px;
  left: 24px;
}

.mobile .expertise-em {
  position: relative;
  width: 312px;
  margin-top: -1px;
  margin-right: -78.87px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 47px;
  letter-spacing: -1.13px;
  line-height: 49px;
}

.mobile .text-wrapper-10 {
  font-weight: 300;
  letter-spacing: -0.53px;
}

.mobile .text-wrapper-11 {
  font-weight: 600;
  letter-spacing: -0.53px;
  text-decoration: underline;
}

.mobile .text-wrapper-12 {
  font-weight: 600;
  letter-spacing: -0.53px;
}

.mobile .metodologia {
  position: absolute;
  width: 360px;
  height: 649px;
  top: 4291px;
  left: 0;
}

.mobile .metodologia-2 {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  align-items: center;
  justify-content: center;
  gap: 102px 0px;
  padding: 26px 32px;
  position: relative;
  background-color: #fbfbfb;
}

.mobile .div-wrapper {
  position: relative;
  width: 1151px;
  height: 61px;
  margin-left: -427.5px;
  margin-right: -427.5px;
}

.mobile .text-wrapper-13 {
  position: absolute;
  height: 31px;
  top: 14px;
  left: 458px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.mobile .div-2 {
  position: relative;
  width: 295.5px;
  height: 266px;
}

.mobile .tilte {
  position: absolute;
  width: 219px;
  height: 24px;
  top: 74px;
  left: 20px;
}

.mobile .text-wrapper-14 {
  position: absolute;
  height: 24px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .text {
  display: flex;
  flex-direction: column;
  width: 233px;
  align-items: flex-start;
  padding: 0px 7.17px 0px 0px;
  position: absolute;
  top: 112px;
  left: 20px;
}

.mobile .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -7.17px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .tilte-2 {
  width: 219px;
  padding: 0px 133.72px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 74px;
  left: 20px;
}

.mobile .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 19.7px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .text-2 {
  display: flex;
  flex-direction: column;
  width: 234px;
  align-items: flex-start;
  padding: 0px 15.8px 0px 0px;
  position: absolute;
  top: 112px;
  left: 20px;
}

.mobile .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -0.25px;
  margin-right: -16.05px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .tilte-3 {
  width: 256px;
  padding: 0px 153.27px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 74px;
  left: 20px;
}

.mobile .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .text-3 {
  display: flex;
  flex-direction: column;
  width: 234px;
  align-items: flex-start;
  padding: 0px 4.7px 0px 0px;
  position: absolute;
  top: 112px;
  left: 20px;
}

.mobile .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -4.7px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .tilte-4 {
  width: 256px;
  padding: 0px 173.62px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 74px;
  left: 20px;
}

.mobile .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.12px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .text-4 {
  display: flex;
  flex-direction: column;
  width: 238px;
  align-items: flex-start;
  padding: 0px 7.25px 0px 0px;
  position: absolute;
  top: 112px;
  left: 20px;
}

.mobile .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -7.25px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .sempre-evoluir {
  position: absolute;
  width: 359px;
  height: 724px;
  top: 3567px;
  left: 1px;
}

.mobile .overlap-3 {
  position: relative;
  width: 360px;
  height: 743px;
  left: -1px;
}

.mobile .rectangle {
  position: absolute;
  width: 360px;
  height: 724px;
  top: 0;
  left: 0;
  background-color: #fbfbfb;
}

.mobile .overlap-group-wrapper {
  position: absolute;
  width: 312px;
  height: 604px;
  top: 139px;
  left: 24px;
}

.mobile .overlap-group-2 {
  position: relative;
  width: 360px;
  height: 717px;
  top: -139px;
  left: -24px;
}

.mobile .gif {
  position: absolute;
  width: 360px;
  height: 352px;
  top: 0;
  left: 0;
  border-radius: 4.89px;
  background-image: url(./img/gif-3.gif);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .text-5 {
  position: absolute;
  width: 312px;
  height: 552px;
  top: 165px;
  left: 24px;
}

.mobile .sempre-evoluir-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 312px;
  align-items: flex-start;
  padding: 2px 0px;
  position: absolute;
  top: 30px;
  left: 0;
}

.mobile .sempre-evoluir-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inknut Antiqua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 43px;
  letter-spacing: -1.13px;
  line-height: 40px;
}

.mobile .text-wrapper-22 {
  font-weight: 500;
  letter-spacing: -0.49px;
}

.mobile .text-wrapper-23 {
  font-weight: 700;
  letter-spacing: -0.49px;
}

.mobile .acreditamos-wrapper {
  height: 227px;
  padding: 0px 18.55px 0.88px 0px;
  position: absolute;
  top: 179px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 312px;
  align-items: flex-start;
}

.mobile .acreditamos {
  position: relative;
  width: 312px;
  margin-top: -1px;
  margin-bottom: -43.88px;
  margin-right: -18.55px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.mobile .button-2 {
  all: unset;
  box-sizing: border-box;
  top: 471px;
  left: 38px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 236px;
  height: 51px;
  align-items: center;
  justify-content: center;
  padding: 1px;
  position: absolute;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
}

.mobile .text-wrapper-24 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .ligamos {
  position: absolute;
  width: 359px;
  height: 591px;
  top: 2960px;
  left: 0;
}

.mobile .ligamos-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mobile .item {
  position: relative;
  width: 359px;
  height: 366px;
  background-image: url(./img/item-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .div-3 {
  position: relative;
  width: 312px;
  height: 582px;
  margin-top: -357px;
}

.mobile .heading {
  display: flex;
  flex-direction: column;
  width: 313px;
  align-items: flex-start;
  padding: 0px 112.83px 0.42px 0px;
  position: absolute;
  top: 275px;
  left: -1px;
}

.mobile .ligamos-empresas-a {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -89.83px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 47px;
  letter-spacing: -1.13px;
  line-height: 41px;
}

.mobile .text-wrapper-25 {
  font-weight: 500;
  color: #3ceaff;
  letter-spacing: -0.53px;
}

.mobile .text-wrapper-26 {
  color: #ffffff;
  letter-spacing: -0.53px;
}

.mobile .text-wrapper-27 {
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.53px;
}

.mobile .p-2 {
  padding: 0px 9.3px 0.08px 0px;
  position: absolute;
  top: 460px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 312px;
  align-items: flex-start;
}

.mobile .text-wrapper-28 {
  position: relative;
  width: 312px;
  margin-top: -1px;
  margin-right: -9.3px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
}

.mobile .capacitamos {
  position: absolute;
  width: 360px;
  height: 790px;
  top: 2170px;
  left: 0;
}

.mobile .overlap-4 {
  position: relative;
  height: 790px;
}

.mobile .rectangle-2 {
  position: absolute;
  width: 360px;
  height: 760px;
  top: 30px;
  left: 0;
  background-color: #ffffff;
}

.mobile .div-4 {
  display: flex;
  max-width: 1200px;
  width: 360px;
  height: 730px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile .text-6 {
  position: relative;
  align-self: stretch;
  width: 360px;
}

.mobile .overlap-group-3 {
  position: absolute;
  width: 361px;
  height: 391px;
  top: 0;
  left: 0;
}

.mobile .img {
  position: absolute;
  width: 361px;
  height: 353px;
  top: 0;
  left: 0;
  background-image: url(./img/img-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .capacitamos-o-wrapper {
  display: flex;
  flex-direction: column;
  width: 90px;
  align-items: flex-start;
  padding: 0px 173.86px 0.43px 0px;
  position: absolute;
  top: 235px;
  left: 24px;
}

.mobile .capacitamos-o {
  position: relative;
  width: 312px;
  margin-top: -1px;
  margin-right: -395.86px;
  font-family: "Inknut Antiqua", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 43px;
  letter-spacing: 0;
  line-height: 39px;
}

.mobile .text-wrapper-29 {
  color: #ffffff;
}

.mobile .text-wrapper-30 {
  font-weight: 900;
  color: #ffffff;
}

.mobile .text-wrapper-31 {
  font-weight: 700;
  color: #ffffff;
}

.mobile .text-wrapper-32 {
  font-weight: 900;
  color: #000000;
}

.mobile .p-3 {
  height: 227px;
  padding: 0px 18.55px 0.88px 0px;
  position: absolute;
  top: 435px;
  left: 24px;
  display: flex;
  flex-direction: column;
  width: 312px;
  align-items: flex-start;
}

.mobile .text-wrapper-33 {
  position: relative;
  width: 312px;
  margin-top: -1px;
  margin-bottom: -1.88px;
  margin-right: -18.55px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.mobile .button-3 {
  all: unset;
  box-sizing: border-box;
  top: 705px;
  left: 62px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 236px;
  height: 51px;
  align-items: center;
  justify-content: center;
  padding: 1px;
  position: absolute;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
}

.mobile .overlap-5 {
  position: absolute;
  width: 360px;
  height: 1265px;
  top: 846px;
  left: 0;
}

.mobile .detalhes {
  position: absolute;
  width: 360px;
  height: 820px;
  top: 445px;
  left: 0;
}

.mobile .container-details {
  display: flex;
  width: 312px;
  height: 780px;
  align-items: center;
  justify-content: center;
  padding: 0px 131px;
  position: relative;
  top: 40px;
  left: 24px;
}

.mobile .resumo {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 313px;
  height: 779px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -131.5px;
  margin-right: -131.5px;
}

.mobile .marketing {
  position: relative;
  flex: 1;
  width: 295.5px;
  flex-grow: 1;
}

.mobile .title {
  display: flex;
  flex-direction: column;
  width: 219px;
  align-items: flex-start;
  padding: 0px 54.39px 0px 0px;
  position: absolute;
  top: 84px;
  left: 20px;
}

.mobile .text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -3.39px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .aumentamos-o-fluxo-wrapper {
  display: flex;
  flex-direction: column;
  width: 219px;
  align-items: flex-start;
  padding: 0px 10.69px 0px 0px;
  position: absolute;
  top: 122px;
  left: 20px;
}

.mobile .text-wrapper-35 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .div-5 {
  position: relative;
  flex: 1;
  width: 295.5px;
  flex-grow: 1;
  margin-top: -184px;
}

.mobile .title-2 {
  width: 219px;
  padding: 0px 145.55px 0px 0px;
  top: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 20px;
}

.mobile .text-wrapper-36 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.55px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .o-comercial-e-o-wrapper {
  display: flex;
  flex-direction: column;
  width: 219px;
  align-items: flex-start;
  padding: 0px 24.25px 0px 0px;
  position: absolute;
  top: 122px;
  left: 20px;
}

.mobile .title-3 {
  width: 256px;
  padding: 0px 60.19px 0px 0px;
  top: 82px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 20px;
}

.mobile .text-wrapper-37 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .elimine-a-fric-o-do-wrapper {
  display: flex;
  flex-direction: column;
  width: 228px;
  align-items: flex-start;
  padding: 0px 8.77px 0px 0px;
  position: absolute;
  top: 120px;
  left: 20px;
}

.mobile .title-4 {
  width: 256px;
  padding: 0px 162.39px 0px 0px;
  top: 82px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 20px;
}

.mobile .estruturamos-e-wrapper {
  display: flex;
  flex-direction: column;
  width: 228px;
  align-items: flex-start;
  padding: 0px 13.91px 0px 0px;
  position: absolute;
  top: 120px;
  left: 20px;
}

.mobile .digitalizao {
  position: absolute;
  width: 360px;
  height: 504px;
  top: 0;
  left: 0;
}

.mobile .digitalizao-2 {
  position: relative;
  height: 582px;
  top: -87px;
  overflow: hidden;
}

.mobile .header-wrapper {
  position: absolute;
  width: 361px;
  height: 374px;
  top: 0;
  left: 0;
  background-image: url(./img/gif-2.gif);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .digitaliza-o-de-wrapper {
  display: flex;
  flex-direction: column;
  width: 311px;
  align-items: flex-start;
  padding: 0px 27.95px 0.43px 0px;
  position: relative;
  top: 214px;
  left: 25px;
}

.mobile .digitaliza-o-de {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 47px;
  letter-spacing: -1.13px;
  line-height: 47px;
}

.mobile .text-wrapper-38 {
  font-weight: 700;
  letter-spacing: -0.53px;
}

.mobile .text-wrapper-39 {
  font-weight: 500;
  letter-spacing: -0.53px;
}

.mobile .p-4 {
  padding: 0px 7.37px 0.06px 0px;
  position: absolute;
  top: 374px;
  left: 24px;
  display: flex;
  flex-direction: column;
  width: 312px;
  align-items: flex-start;
}

.mobile .text-wrapper-40 {
  position: relative;
  width: 312px;
  margin-top: -1px;
  margin-right: -7.37px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
}

.mobile .somos-bits {
  position: absolute;
  width: 360px;
  height: 666px;
  top: 69px;
  left: 0;
}

.mobile .somo-bits {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 616px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.mobile .div-apresentao {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 712px;
  align-items: center;
  padding: 51px 40px 113px;
  position: relative;
  margin-bottom: -96px;
  background-color: #000000;
}

.mobile .div-6 {
  position: absolute;
  width: 359px;
  height: 616px;
  top: 0;
  left: 1px;
  background-image: url(./img/div-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .div-overlay {
  position: absolute;
  width: 359px;
  height: 616px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.mobile .text-7 {
  position: relative;
  max-width: 1200px;
  width: 312px;
  height: 592px;
  margin-bottom: -44px;
  margin-left: -16px;
  margin-right: -16px;
}

.mobile .text-8 {
  display: flex;
  flex-direction: column;
  width: 312px;
  height: 466px;
  align-items: flex-start;
  gap: 16px;
  padding: 46.89px 18px 17.53px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile .n-s-somos-a-bits-wrapper {
  position: relative;
  width: 312px;
  height: 136px;
  margin-right: -18px;
  background-color: transparent;
}

.mobile .n-s-somos-a-bits {
  position: absolute;
  width: 312px;
  height: 97px;
  top: -27px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 47px;
  letter-spacing: -1.13px;
  line-height: 41px;
}

.mobile .text-wrapper-41 {
  letter-spacing: -0.53px;
}

.mobile .p-5 {
  padding: 0px 4.09px 0.89px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -1.31px;
  margin-right: -18px;
  display: flex;
  flex-direction: column;
  width: 312px;
  align-items: flex-start;
}

.mobile .text-wrapper-42 {
  position: relative;
  width: 312px;
  margin-top: -1px;
  margin-right: -4.09px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.mobile .text-9 {
  position: absolute;
  height: 21px;
  top: 284px;
  left: 447px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.mobile .boto {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 214px;
  height: 37px;
  align-items: center;
  justify-content: center;
  padding: 10px 33.98px 10px 34px;
  position: absolute;
  top: 485px;
  left: 49px;
  background-color: #00d2eb;
  border-radius: 50px;
}

.mobile .text-wrapper-43 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .overlap-wrapper {
  position: absolute;
  width: 360px;
  height: 69px;
  top: 0;
  left: 0;
}

.mobile .overlap-6 {
  position: relative;
  height: 69px;
}

.mobile .nav-main {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff1a;
  position: absolute;
  width: 360px;
  height: 69px;
  top: 0;
  left: 0;
}

.mobile .text-wrapper-44 {
  position: absolute;
  height: 35px;
  top: 16px;
  left: 24px;
  font-family: "Gotham Black-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.45px;
  line-height: normal;
  white-space: nowrap;
}

.mobile .menubar-2 {
  position: absolute;
  width: 66px;
  height: 52px;
  top: 10px;
  left: 270px;
}

.mobile.tablet-wrapper {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mobile .tablet {
  background-color: #000000;
  width: 1024px;
  height: 5159px;
  position: relative;
}

.mobile .footer-wrapper {
  position: absolute;
  top: 4806px;
  left: 1px;
  width: 1023px;
  height: 353px;
}

.mobile .footer-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  width: 1023px;
  height: 353px;
}

.mobile .footer-main-2 {
  display: flex;
  flex-direction: column;
  width: 1023px;
  height: 353px;
  align-items: flex-start;
  justify-content: center;
  gap: 23px;
  padding: 0px 120px 0px 119px;
  position: relative;
  background-color: #000000;
}

.mobile .bits-evoluo-digital-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.mobile .text-wrapper-45 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-size: 36px;
  letter-spacing: 0;
  font-family: "Gotham Black-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.mobile .text-wrapper-46 {
  position: relative;
  width: fit-content;
  margin-top: -5px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #3ceaff;
  font-size: 27.3px;
  letter-spacing: 0;
  line-height: 27.2px;
  white-space: nowrap;
}

.mobile .menu-footer-2 {
  display: flex;
  max-width: 1920px;
  width: 841px;
  height: 190px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: -57px;
}

.mobile .nav-wrapper {
  display: flex;
  flex-direction: column;
  width: 460px;
  align-items: flex-start;
  padding: 0px 18px 108px 0px;
  position: relative;
  align-self: stretch;
}

.mobile .menubar-wrapper {
  display: flex;
  min-width: 144px;
  max-width: 460px;
  align-items: flex-start;
  padding: 7px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.mobile .menubar-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.mobile .text-wrapper-47 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #3ceaff;
  font-size: 15px;
  letter-spacing: 0.45px;
  line-height: normal;
  white-space: nowrap;
}

.mobile .menu-botton {
  display: flex;
  flex-direction: column;
  width: 460px;
  align-items: flex-start;
  padding: 0px 6px 0px 0px;
  position: relative;
  align-self: stretch;
  margin-left: -171px;
}

.mobile .menubar-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.mobile .text-wrapper-48 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 15px;
  letter-spacing: 0.45px;
  line-height: normal;
  white-space: nowrap;
}

.mobile .text-wrapper-49 {
  font-family: "Roboto", Helvetica;
  color: #ffffffd9;
  letter-spacing: 0.39px;
  text-decoration: underline;
  position: relative;
  width: fit-content;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  white-space: nowrap;
}

.mobile .text-wrapper-50 {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffffd9;
  font-size: 15px;
  letter-spacing: 0.39px;
  line-height: normal;
  white-space: nowrap;
}

.mobile .all-rights-2 {
  position: absolute;
  width: 495px;
  height: 15px;
  top: 332px;
  left: 119px;
}

.mobile .bits-group-evolu-o-2 {
  position: absolute;
  height: 15px;
  top: -1px;
  left: 0;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14.4px;
  white-space: nowrap;
}

.mobile .text-wrapper-51 {
  position: absolute;
  height: 14px;
  top: -1px;
  left: 334px;
  font-family: "Armata", Helvetica;
  font-weight: 400;
  color: #a9a9a9;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 13.2px;
  white-space: nowrap;
}

.mobile .expertisse {
  position: absolute;
  width: 1024px;
  height: 665px;
  top: 4141px;
  left: 0;
}

.mobile .div-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 665px;
  align-items: flex-start;
  gap: 10px;
  padding: 60px 122px;
  position: relative;
}

.mobile .div-main {
  position: relative;
  max-width: 1200px;
  width: 838px;
  height: 582px;
  margin-bottom: -37px;
  margin-right: -58px;
}

.mobile .overlap-group-4 {
  position: relative;
  width: 885px;
  height: 537px;
  left: 17px;
  background-image: url(./img/gif-4.gif);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .button-4 {
  all: unset;
  box-sizing: border-box;
  width: 240px;
  height: 40px;
  padding: 10px 33.98px 10px 34px;
  top: 354px;
  left: 412px;
  background-color: #00d2eb;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50px;
}

.mobile .empresas-wrapper {
  width: 284px;
  height: 48px;
  padding: 0px 28.58px 0px 0px;
  position: absolute;
  top: 277px;
  left: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile .empresas-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.mobile .expertise-em-wrapper {
  width: 409px;
  padding: 0px 78.87px 0.43px 0px;
  top: 38px;
  left: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.mobile .expertise-em-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -84.87px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 70px;
  letter-spacing: -1.13px;
  line-height: 70px;
}

.mobile .text-wrapper-52 {
  font-weight: 300;
  letter-spacing: -0.79px;
}

.mobile .text-wrapper-53 {
  font-weight: 600;
  letter-spacing: -0.79px;
  text-decoration: underline;
}

.mobile .text-wrapper-54 {
  font-weight: 600;
  letter-spacing: -0.79px;
}

.mobile .metodologia-wrapper {
  position: absolute;
  width: 1023px;
  height: 649px;
  top: 3492px;
  left: 1px;
}

.mobile .metodologia-3 {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  align-items: center;
  justify-content: center;
  gap: 113px 7px;
  padding: 21px 32px;
  position: relative;
  left: -1px;
  background-color: #fbfbfb;
}

.mobile .header-2 {
  position: relative;
  width: 1151px;
  height: 61px;
  margin-left: -95.5px;
  margin-right: -95.5px;
}

.mobile .text-wrapper-55 {
  position: absolute;
  height: 61px;
  top: -1px;
  left: 350px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.mobile .sempre-evoluir-3 {
  position: absolute;
  width: 1022px;
  height: 724px;
  top: 2768px;
  left: 2px;
}

.mobile .overlap-7 {
  position: relative;
  width: 1130px;
  height: 724px;
  left: -2px;
}

.mobile .rectangle-3 {
  position: absolute;
  width: 1024px;
  height: 724px;
  top: 0;
  left: 0;
  background-color: #fbfbfb;
}

.mobile .div-7 {
  display: flex;
  max-width: 1200px;
  width: 897px;
  height: 604px;
  align-items: flex-start;
  position: absolute;
  top: 60px;
  left: 65px;
}

.mobile .text-10 {
  position: relative;
  width: 483px;
  height: 604px;
}

.mobile .header-3 {
  max-width: 600px;
  width: 582px;
  padding: 2px 0px;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.mobile .sempre-evoluir-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inknut Antiqua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 70px;
  letter-spacing: -1.13px;
  line-height: 68px;
}

.mobile .text-wrapper-56 {
  font-weight: 500;
  letter-spacing: -0.79px;
}

.mobile .text-wrapper-57 {
  font-weight: 700;
  letter-spacing: -0.79px;
}

.mobile .p-6 {
  width: 582px;
  height: 226.63px;
  padding: 0px 18.55px 0.88px 0px;
  position: absolute;
  top: 267px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile .text-wrapper-58 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.mobile .button-5 {
  all: unset;
  box-sizing: border-box;
  width: 236px;
  height: 51px;
  padding: 1px;
  top: 523px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50px;
}

.mobile .gif-2 {
  width: 603px;
  height: 590px;
  left: 527px;
  border-radius: 4.89px;
  background-image: url(./img/gif-3.gif);
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .ligamos-3 {
  position: absolute;
  width: 1024px;
  height: 558px;
  top: 2194px;
  left: 0;
}

.mobile .div-8 {
  display: flex;
  max-width: 1200px;
  width: 896px;
  height: 582px;
  align-items: center;
  position: relative;
  left: 63px;
}

.mobile .div-main-2 {
  position: relative;
  align-self: stretch;
  width: 896px;
}

.mobile .text-11 {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 514px;
  align-items: flex-start;
  gap: 34px;
  padding: 25px 18px 125.99px;
  position: absolute;
  top: 60px;
  left: 384px;
}

.mobile .ligamos-empresas-a-wrapper {
  padding: 0px 112.83px 0.42px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.mobile .ligamos-empresas-a-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -191.83px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: -1.13px;
  line-height: 67.9px;
}

.mobile .text-wrapper-59 {
  letter-spacing: -0.79px;
}

.mobile .p-7 {
  padding: 0px 9.3px 0.08px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -20.49px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile .text-wrapper-60 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
}

.mobile .item-2 {
  position: absolute;
  width: 447px;
  height: 454px;
  top: 60px;
  left: -63px;
  background-image: url(./img/item-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .capacitamos-2 {
  position: absolute;
  width: 1024px;
  height: 730px;
  top: 1464px;
  left: 0;
  background-color: #ffffff;
}

.mobile .div-9 {
  display: flex;
  max-width: 1200px;
  width: 895px;
  height: 604px;
  align-items: center;
  position: relative;
  top: 35px;
  left: 64px;
}

.mobile .text-12 {
  position: relative;
  align-self: stretch;
  width: 582px;
}

.mobile .heading-2 {
  padding: 0px 173.86px 0.43px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.mobile .capacitamos-o-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -173.86px;
  font-family: "Inknut Antiqua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 68px;
}

.mobile .text-wrapper-61 {
  font-family: "Inknut Antiqua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 68px;
}

.mobile .text-wrapper-62 {
  font-weight: 900;
}

.mobile .text-wrapper-63 {
  font-weight: 700;
}

.mobile .img-2 {
  position: relative;
  width: 378px;
  height: 370px;
  margin-right: -65px;
  background-image: url(./img/img-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .container-details-wrapper {
  position: absolute;
  width: 1024px;
  height: 278px;
  top: 1186px;
  left: 0;
}

.mobile .resumo-wrapper {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 208px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px 131px;
  position: relative;
}

.mobile .resumo-2 {
  display: flex;
  max-width: 1200px;
  width: 895px;
  height: 188px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -20px;
  margin-left: -66.5px;
  margin-right: -66.5px;
}

.mobile .marketing-2 {
  position: relative;
  align-self: stretch;
  width: 295.5px;
  margin-left: -26.5px;
}

.mobile .div-10 {
  position: relative;
  align-self: stretch;
  width: 295.5px;
  margin-left: -78px;
}

.mobile .ngocios {
  position: relative;
  align-self: stretch;
  width: 295.5px;
  margin-right: -26.5px;
  margin-left: -78px;
}

.mobile .digitalizao-wrapper {
  position: absolute;
  width: 1024px;
  height: 405px;
  top: 781px;
  left: 0;
}

.mobile .digitalizao-3 {
  position: relative;
  height: 405px;
}

.mobile .gif-3 {
  width: 371px;
  height: 384px;
  left: 64px;
  background-image: url(./img/gif-2.gif);
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .frame {
  display: flex;
  flex-direction: column;
  width: 571px;
  align-items: flex-start;
  gap: 29px;
  position: absolute;
  top: 17px;
  left: 453px;
}

.mobile .header-4 {
  display: flex;
  flex-direction: column;
  width: 581.5px;
  align-items: flex-start;
  padding: 0px 27.95px 0.43px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -10.5px;
}

.mobile .digitaliza-o-de-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -1.45px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: -1.13px;
  line-height: 67.9px;
}

.mobile .p-8 {
  width: 581.5px;
  padding: 0px 7.37px 0.06px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -10.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile .somo-bits-wrapper {
  position: absolute;
  width: 1024px;
  height: 712px;
  top: 69px;
  left: 0;
}

.mobile .div-apresentao-wrapper {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 712px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.mobile .div-apresentao-2 {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 712px;
  align-items: center;
  padding: 120px 40px;
  position: relative;
  background-color: #000000;
}

.mobile .div-11 {
  position: absolute;
  width: 1022px;
  height: 712px;
  top: 0;
  left: 2px;
  background-image: url(./img/div-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .div-overlay-2 {
  position: absolute;
  width: 1022px;
  height: 712px;
  top: 0;
  left: 2px;
  object-fit: cover;
}

.mobile .text-13 {
  position: relative;
  max-width: 1200px;
  width: 894px;
  height: 591.69px;
  margin-bottom: -119.69px;
}

.mobile .overlap-group-5 {
  position: relative;
  width: 600px;
  height: 592px;
}

.mobile .text-14 {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 592px;
  align-items: flex-start;
  gap: 93.3px;
  padding: 46.89px 18px 17.53px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile .header-5 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 135.78px;
  background-color: transparent;
}

.mobile .n-s-somos-a-bits-2 {
  position: absolute;
  width: 432px;
  height: 136px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: -1.13px;
  line-height: 67.9px;
}

.mobile .p-9 {
  width: 456px;
  padding: 0px 4.09px 0.89px 0px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile .text-wrapper-64 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -4.09px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.mobile .boto-2 {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 214px;
  height: 37px;
  align-items: center;
  justify-content: center;
  padding: 10px 33.98px 10px 34px;
  position: relative;
  background-color: #00d2eb;
  border-radius: 50px;
}

.mobile .nav-main-wrapper {
  position: absolute;
  width: 1024px;
  height: 69px;
  top: 0;
  left: 0;
}

.mobile .nav-main-2 {
  position: relative;
  height: 69px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff1a;
}

.mobile .text-wrapper-65 {
  position: absolute;
  height: 35px;
  top: 16px;
  left: 64px;
  font-size: 32px;
  letter-spacing: 0.45px;
  font-family: "Gotham Black-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.mobile .menubar-5 {
  display: inline-flex;
  flex-wrap: wrap;
  height: 29px;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  padding: 0px 1.14e-13px 0px 0px;
  position: absolute;
  top: 20px;
  left: 517px;
}

.mobile .link-wrapper {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.mobile .link {
  display: inline-flex;
  align-items: center;
  padding: 0px 0px 0px 25px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.mobile .span-nav-item-text {
  position: relative;
  flex: 0 0 auto;
}

.mobile .span-nav-item-text-2 {
  display: inline-flex;
  align-items: center;
  gap: 4.01px;
  padding: 5px 0px 4px;
  position: relative;
  flex: 0 0 auto;
}

.mobile .text-wrapper-66 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.45px;
  line-height: normal;
  white-space: nowrap;
}

.mobile .item-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  padding: 5px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.mobile .text-wrapper-67 {
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.45px;
  position: relative;
  width: fit-content;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  white-space: nowrap;
}

.mobile .after {
  position: relative;
  width: 91px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ffffff;
}

.mobile .item-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0px 4px;
  position: relative;
  flex: 0 0 auto;
}

.mobile.desktop-wrapper {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mobile .desktop {
  background-color: #000000;
  overflow-x: hidden;
  width: 1440px;
  height: 5511px;
  position: relative;
}

.mobile .footer-3 {
  position: absolute;
  top: 5158px;
  left: 0;
  width: 1440px;
  height: 353px;
}

.mobile .footer-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  width: 1440px;
  height: 353px;
}

.mobile .footer-main-3 {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 353px;
  align-items: flex-start;
  justify-content: center;
  gap: 23px;
  padding: 0px 120px 0px 119px;
  position: relative;
  background-color: #000000;
}

.mobile .menu-footer-3 {
  display: flex;
  max-width: 1920px;
  width: 1213px;
  height: 190px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: -12px;
}

.mobile .numero {
  position: relative;
  align-self: stretch;
  width: 460px;
  margin-left: -171px;
}

.mobile .all-rights-3 {
  position: absolute;
  width: 495px;
  height: 15px;
  top: 323px;
  left: 120px;
}

.mobile .experstise-wrapper {
  position: absolute;
  width: 1444px;
  height: 702px;
  top: 4456px;
  left: 0;
}

.mobile .div-wrapper-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.mobile .expertise-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 60px 122px;
  position: relative;
  flex: 0 0 auto;
}

.mobile .gif-wrapper {
  display: flex;
  max-width: 1200px;
  width: 1200px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.mobile .gif-4 {
  flex: 1;
  flex-grow: 1;
  height: 582px;
  background-image: url(./img/gif-4.gif);
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .button-6 {
  all: unset;
  box-sizing: border-box;
  width: 156px;
  height: 40px;
  padding: 10px 33.98px 10px 34px;
  top: 337px;
  left: 608px;
  background-color: #00d2eb;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50px;
}

.mobile .text-wrapper-68 {
  margin-left: -19.99px;
  margin-right: -19.99px;
  color: #000000;
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .p-10 {
  width: 307px;
  padding: 0px 28.58px 0px 0px;
  position: absolute;
  top: 278px;
  left: 608px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile .text-wrapper-69 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -204.58px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .header-6 {
  width: 592px;
  padding: 0px 78.87px 0.43px 0px;
  top: 32px;
  left: 608px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.mobile .expertise-em-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 70px;
  letter-spacing: -1.13px;
  line-height: 70px;
}

.mobile .metodologia-4 {
  position: absolute;
  width: 1440px;
  height: 376px;
  top: 4080px;
  left: 0;
}

.mobile .metodologia-5 {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  align-items: center;
  justify-content: center;
  gap: 0px 7px;
  padding: 21px 32px;
  position: relative;
  background-color: #fbfbfb;
}

.mobile .header-7 {
  position: relative;
  width: 1151px;
  height: 61px;
}

.mobile .text-wrapper-70 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -7.17px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .text-wrapper-71 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -0.25px;
  margin-right: -16.05px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .text-wrapper-72 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -4.7px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .text-wrapper-73 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -7.25px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .overlap-8 {
  position: absolute;
  width: 1442px;
  height: 2169px;
  top: 1911px;
  left: 0;
}

.mobile .sempre-evoluir-5 {
  position: absolute;
  width: 1439px;
  height: 724px;
  top: 1445px;
  left: 1px;
}

.mobile .overlap-group-6 {
  position: relative;
  width: 1440px;
  height: 724px;
  left: -1px;
  background-color: #fbfbfb;
}

.mobile .div-12 {
  display: flex;
  max-width: 1200px;
  width: 1200px;
  height: 604px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 60px;
  left: 123px;
}

.mobile .gif-5 {
  width: 618px;
  height: 604px;
  margin-bottom: -0.04px;
  border-radius: 4.89px;
  background-image: url(./img/gif-3.gif);
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .ligamos-4 {
  position: absolute;
  width: 1441px;
  height: 722px;
  top: 724px;
  left: 1px;
}

.mobile .div-13 {
  display: flex;
  max-width: 1200px;
  width: 1200px;
  height: 582px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 70px;
  left: 120px;
}

.mobile .div-main-3 {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.mobile .item-5 {
  position: absolute;
  width: 573px;
  height: 582px;
  top: 0;
  left: 0;
  background-image: url(./img/item.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .text-15 {
  display: flex;
  flex-direction: column;
  width: 591px;
  height: 582px;
  align-items: flex-start;
  gap: 34px;
  padding: 25px 18px 125.99px;
  position: absolute;
  top: 0;
  left: 609px;
}

.mobile .ligamos-empresas-a-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -112.83px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: -1.13px;
  line-height: 67.9px;
}

.mobile .p-11 {
  padding: 0px 9.3px 0.08px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile .capacitamos-3 {
  position: absolute;
  width: 1440px;
  height: 730px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.mobile .div-14 {
  display: flex;
  max-width: 1200px;
  width: 1200px;
  height: 604px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 60px;
  left: 122px;
}

.mobile .img-3 {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-image: url(./img/img.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .detalhes-2 {
  position: absolute;
  width: 1444px;
  height: 278px;
  top: 1553px;
  left: -2px;
}

.mobile .container-details-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 131px;
  position: relative;
}

.mobile .resumo-3 {
  display: flex;
  max-width: 1200px;
  width: 1182px;
  height: 238px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.mobile .div-15 {
  position: relative;
  align-self: stretch;
  width: 295.5px;
}

.mobile .text-wrapper-74 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.39px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19.7px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .aumentamos-o-fluxo {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.69px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .text-wrapper-75 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.55px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.mobile .o-comercial-e-o {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.25px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .elimine-a-fric-o-do {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.77px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .estruturamos-e {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.91px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

.mobile .digitalizao-4 {
  position: absolute;
  width: 1436px;
  height: 616px;
  top: 901px;
  left: -2px;
}

.mobile .digitalizao-5 {
  display: inline-flex;
  align-items: center;
  gap: 54px;
  padding: 17px 114px;
  position: relative;
}

.mobile .gif-6 {
  width: 573px;
  height: 582px;
  background-image: url(./img/gif-2.gif);
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
  position: relative;
  flex: 0 0 auto;
}

.mobile .header-8 {
  display: flex;
  flex-direction: column;
  width: 581.5px;
  align-items: flex-start;
  padding: 0px 27.95px 0.43px 0px;
  position: relative;
  flex: 0 0 auto;
}

.mobile .p-12 {
  width: 581.5px;
  padding: 0px 7.37px 0.06px 0px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile .somos-bits-2 {
  position: absolute;
  width: 1442px;
  height: 832px;
  top: 69px;
  left: -2px;
}

.mobile .div-apresentao-3 {
  display: flex;
  flex-direction: column;
  width: 1442px;
  min-height: 100px;
  align-items: center;
  padding: 120px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
}

.mobile .div-16 {
  position: absolute;
  width: 1442px;
  height: 832px;
  top: 0;
  left: 0;
  background-image: url(./img/div.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mobile .div-overlay-3 {
  position: absolute;
  width: 1442px;
  height: 832px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mobile .text-16 {
  display: flex;
  max-width: 1200px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0px 600px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.mobile .text-17 {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: flex-start;
  gap: 93.3px;
  padding: 46.89px 18px 17.53px 0px;
  position: relative;
  align-self: stretch;
}

.mobile .header-9 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 135.78px;
}

.mobile .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 4.09px 0.89px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.mobile .text-wrapper-76 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.mobile .text-18 {
  position: relative;
  width: fit-content;
  margin-right: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.mobile .nav-2 {
  position: absolute;
  width: 1440px;
  height: 69px;
  top: 0;
  left: 0;
}

.mobile .text-wrapper-77 {
  position: absolute;
  height: 35px;
  top: 16px;
  left: 105px;
  font-size: 32px;
  letter-spacing: 0.45px;
  font-family: "Gotham Black-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.mobile .menubar-6 {
  display: inline-flex;
  flex-wrap: wrap;
  height: 29px;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  padding: 0px 1.14e-13px 0px 0px;
  position: absolute;
  top: 20px;
  left: 918px;
}

@media (max-width: 1023px) {
  .mobile.tablet-wrapper {
    display: none;
  }
  .mobile.desktop-wrapper {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .mobile.mobile-wrapper {
    display: none;
  }
  .mobile.desktop-wrapper {
    display: none;
  }
}

@media (min-width: 1440px) {
  .mobile.mobile-wrapper {
    display: none;
  }
  .mobile.tablet-wrapper {
    display: none;
  }
}
